header {
	width: 100vw;
	height: 80px;
	display: flex;
	align-items: center;
	border-bottom: var(--border);
	background-color: white;
	padding: 10px 40px;
}
header .logo {
	font-family: 'yg-jalnan';
	color: var(--mainColor);
}
main {
	display: flex;
	height: calc(100vh - 80px);
}
main .mapWrap {
	width: 70%;
	position: relative;
}
main .map {
	height: 100%;
}
main .roadViewWrap {
	width: 200px;
	height: 200px;
	position: absolute;
	bottom: 10px;
	right: 10px;
	z-index: 100;
	opacity: 0;
	transition: all 1s ease-in-out;
}
main .roadViewWrap.on {
	opacity: 1;
}
main .roadViewWrap [id^="_box_util"]  {
	opacity: 0;
}
main .roadViewWrap.on.zoom {
	width: 100%;
	height: 100%;
	bottom: 0;
	right: 0;
}
main .roadViewWrap.on.zoom [id^="_box_util"]  {
	opacity: 1;
}
main .roadViewWrap .roadView {
	width: 100%;
	height: 100%;
}
main .roadViewWrap .zoomIcon {
	width: 28px;
	height: 28px;
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	z-index: 200;
	background-color: #fff;
}
main .roadViewWrap .zoomIcon i {
	color: var(--gray)
}
/* 리스트 스크롤 이벤트 */
.tourList, .infoDetail {
	width: 100%;
	height: 100%;
	overflow:overlay;
	visibility: hidden;
}
.tourList::-webkit-scrollbar,
.infoDetail::-webkit-scrollbar {
	width: 5px;
}
.tourList::-webkit-scrollbar-thumb,
.infoDetail::-webkit-scrollbar-thumb{
	height: 20px;
	background-color: var(--scrollColor);
	border-radius: 100px;
}
.tourList:hover {
	visibility: visible;
}
.tourList ul {
	width: 100%;
	height: 100%;
	visibility: visible;
}
.infoDetail > section {
	width: 100%;
	position: relative;
	visibility: visible;
    padding: 14px 14px 28px;
}
.infoDetail > section::after {
	content: "";
	width: 100%;
	height: 10px;
	display: block;
	position: absolute;
	bottom: 0;
	background-color: #ddd;
	margin-left: -14px;
}
.infoDetail > section:last-child:after {
	display: none;
}

/* 리스트 */
.tourListWrap {
	width: 30%;
	min-width: 320px;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-left: var(--border);
	overflow: hidden;
}
.tourListWrap .title {
	border-bottom: var(--border);
	background-color: #fff;
	padding: 16px 14px;
}
.tourListWrap .backBtn {
    border: none;
    padding: 4px;
    border-radius: 4px;
    margin-left: -4px;
    background-color: transparent;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.tourListWrap .backBtn:hover {
    background-color: #ddd;
}

/* 관광지 리스트 */
.tourList  li {
	border-bottom: var(--border);
	cursor: pointer;
	transition: all .3s ease-in-out;
}
.tourList  li:hover {
	background-color: var(--bgColor);
}
.tourList li .tourItem {
	font-size: 14px;
	line-height: 1.5;
	padding: 14px;
}
.tourList li .dsgnDate {
	width: fit-content;
	font-size: .8em;
	font-weight: 300;
	line-height: 1;
	border-radius: 4px;
	color: #fff;
	background-color: var(--subColor);
	padding: 3px 4px 2px;
	margin-bottom: 6px;
}
.tourList li .addrRoad {
	color: var(--gray);
	margin-bottom: 4px;
}
.tourList li .tourDestIntro {
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical;
}


/* 관광지 상세정보 */
.tourInfo {
	height: max-content;
    line-height: 1.5;
}
.tourInfo > * {
    margin-bottom: 6px;
}
.tourInfo i {
    color: var(--subColor)
}
.tourInfo .address {
	display: flex;
	align-items: center;
}
.tourInfo .linkRoute {
	font-size: 0.8rem;
	line-height: 1;
	border-radius: 4px;
	background-color: var(--scrollColor);
	margin-left: auto;
	padding: 6px 4px 4px;
}
.tourInfo .linkRoute a {
	color: #fff;
}
.tourInfo .dot {
	color: var(--subColor);
}
.tourInfo .mngAgc {
    width: 100%;
    font-size: 14px;
    border: var(--border);
    border-collapse: collapse;
}
.tourInfo .mngAgc caption {
    font-size: 16px;
    text-align: left;
}
.tourInfo .mngAgc tr {
    border-bottom: var(--border);
}
.tourInfo .mngAgc th, 
.tourInfo .mngAgc td {
    padding: 4px;
}
.tourInfo .mngAgc th{
    font-weight: 400;
    background-color: var(--bgColor);
}
@media (pointer: coarse) {
	/* 포인팅 장치가 있음(터치스크린, 모션 감지 센서) */
  }

@media (max-width: 575px) { 
	body {
		font-size: 14px;
	}
	header {
		height: 48px;
		padding: 14px;
	}
	header .logo {
		font-size: 20px;
	}
	main {
		flex-direction: column;
		height: calc(100vh - 48px);
	}
	main .mapWrap {
		width: 100%;
		flex: 1
	}
	main .roadViewWrap {
		width: 120px;
		height: 120px;
		bottom: 8px;
		right: 8px;
	}
	.tourListWrap {
		width: 100%;
		height: 45vh;
	}
	.tourList, .infoDetail {
		visibility: visible;
	}
	.tourList::-webkit-scrollbar-thumb,
	.infoDetail::-webkit-scrollbar-thumb{
		background-color: transparent;
	}
	.tourListWrap .title {
		padding: 14px
	}
	.tourList li .dsgnDate {
		font-size: 10px;
	}
	.tourList li .tourDestNm {
		font-size: 16px;
	}
	.tourInfo .mngAgc {
		font-size: 12px;
	}
	.tourInfo .mngAgc caption {
		font-size: 14px;
	}
} 